<form action= '/links' method=post>
  Enter the Title:
<input type='text' name='Title'>
  Enter the URL:
<input type='text' name='URL'>
<input type='submit' value='enter link'>
</form>

Do you want to go back?
<form action= '/links' method='get'>
  <input type=submit value='Take me back'>
</form>
